{% extends 'navbar.html.twig' %}
{% form_theme EleveForm 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link href="{{asset('/css/theme.css')}}" rel="stylesheet" media="all">    
{% endblock %}
{% block contenuPrincipal %}
    {{ parent() }}
    <h1>ELEVE</h1>
    {{form(EleveForm)}}


{% endblock %} 